
@font-face {font-family: "iconfont_mwp";
  src: url('//at.alicdn.com/t/font_ataxtz70zneidx6r.eot?t=1500443230642'); /* IE9*/
  src: url('//at.alicdn.com/t/font_ataxtz70zneidx6r.eot?t=1500443230642#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_ataxtz70zneidx6r.woff?t=1500443230642') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_ataxtz70zneidx6r.ttf?t=1500443230642') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_ataxtz70zneidx6r.svg?t=1500443230642#iconfont_mwp') format('svg'); /* iOS 4.1- */
}

.iconfont_mwp {
  font-family:"iconfont_mwp" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontshare:before { content: "\e662"; }

.icon-edit:before { content: "\e69e"; }

.icon-duihao:before { content: "\e627"; }

.icon-edit1:before { content: "\e613"; }

.icon-qrcode:before { content: "\e7db"; }

.icon-gengduo:before { content: "\e683"; }

.icon-shouye:before { content: "\e64f"; }

.icon-movedown:before { content: "\e75a"; }

.icon-moveup:before { content: "\e75b"; }

.icon-fanhui:before { content: "\e679"; }

.icon-delete2:before { content: "\e608"; }

.icon-jichuxinxi:before { content: "\e615"; }

.icon-member-delete:before { content: "\e6b8"; }

.icon-add1:before { content: "\e731"; }

.icon-jinggao:before { content: "\e643"; }

.icon-daxiang:before { content: "\e6a5"; }

.icon-switch:before { content: "\e72e"; }

.icon-delete:before { content: "\e617"; }

.icon-edit-copy:before { content: "\e69f"; }

.icon-edit1-copy:before { content: "\e6a0"; }

.icon-shouye-copy:before { content: "\e6a1"; }

.icon-qrcode-copy:before { content: "\e7dc"; }

.icon-jichuxinxi-copy:before { content: "\e7dd"; }

.icon-iconfontshare-copy:before { content: "\e7de"; }

.icon-jinggao-copy:before { content: "\e7df"; }

