@charset "GBK";

/** ������ʽ��
-------------------------------------------------------------------------------------------------*/
.qyzx3_hidden {
    display: none!important;
}
.qyzx3_h_line {
    width: 154px;
    height: 1px;
    overflow: hidden;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -1px -147px;
}
.qyzx3_h_space {
    width: 154px;
    height: 4px;
    overflow: hidden;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -149px;
}
/** ��ҵ���߲�����
-------------------------------------------------------------------------------------------------*/
.qyzx3 {
    position: fixed;
    _position: absolute;
    /*display: none;*/
    top: 300px;
    z-index: 1000;
    font: 12px/1.5 Tahoma,Arial,Helvetica,"微软雅黑";
    text-align: left;
}
.qyzx3_sidebar {
    width: 154px;
}
.qyzx3_sidebar_title {
    width: 100%;
    height: 28px;
    line-height: 28px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 0;
}
.qyzx3_sidebar_title_text {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 0 9px;
}
.qyzx3_sidebar_title_sdrz {
    float: right;
    display: inline;
    margin: 5px 5px 0 0;
    *margin: -23px 5px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.qyzx3_sidebar_title_sdrz_fcaTrade {
    float: right;
    display: inline;
    margin: 5px 5px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent url(//cbu01.alicdn.com/cms/upload/2015/333/764/2467333_1916752660.png) no-repeat scroll -895px -285px;
}

.qyzx3_sidebar_title_sdrz_fcaProduct {
    float: right;
    display: inline;
    margin: 5px 5px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent url(//cbu01.alicdn.com/cms/upload/2015/051/474/2474150_1916752660.png) no-repeat scroll -895px -285px;
}

.qyzx3_sidebar_title_arrow {
    float: right;
    display: inline;
    margin: 4px 3px 0 0;
    *margin: -24px 3px 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -820px -288px;
}
.qyzx3_sidebar_title_arrow:hover {
    background-position: -840px -288px;
}
.qyzx3_welcomewords {
    padding: 11px 0 0 4px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -28px;
}
.qyzx3_welcomewords_text {
    width: 142px;
    height: 52px;
    padding: 1px;
    position: relative;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -620px -338px;
}
.qyzx3_welcomewords_text_box,
.qyzx3_welcomewords_text_scroll {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 128px;
    height: 34px;
    overflow: hidden;
    color: #888;
    line-height: 17px;
    word-wrap: break-word;
    word-break: break-all;
    background: #fff;
}
.qyzx3_welcomewords_text_scroll {
    width: 145px;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: scroll;
}
.qyzx3_welcomewords_text_ellipsis {
    position: absolute;
    right: 9px;
    bottom: 12px;
    z-index: 10;
    width: 18px;
    background: #fff;
    text-align: center;
}
.qyzx3_buttons {
    width: 100%;
    height: 53px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -28px;
}
.qyzx3_buttons_ljqt {
    display: inline-block;
    height: 28px;
    width: 77px;
    margin: 10px 0 0 37px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -322px -408px;
}
.qyzx3_buttons_ljqt:hover {
    background-position: -399px -408px;
}
.qyzx3_buttons_mfdh {
    display: none;
    height: 28px;
    width: 61px;
    margin: 10px 0 0 5px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -766px -308px;
}
.qyzx3_buttons_mfdh:hover {
    background-position: -766px -336px;
}
.qyzx3_buttons_both .qyzx3_buttons_ljqt {
    margin: 10px 0 0 5px;
}
.qyzx3_buttons_both .qyzx3_buttons_mfdh {
    display: inline-block;
}
.qyzx3_list {
    width: 100%;
}
.qyzx3_item {
    width: 100%;
    height: 22px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -149px;
}
.qyzx3_item_ww_online,
.qyzx3_item_ww_mobile,
.qyzx3_item_ww_offline {
    display: inline-block;
    height: 17px;
    width: 16px;
    vertical-align: middle;
    margin: 3px 0 0 7px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1Dbw2wfImBKNjSZFlXXc43FXa-242-177.gif) no-repeat scroll -190px -60px;
}
.qyzx3_item_ww_online {
    background-position: -190px -61px;
}
.qyzx3_item_ww_mobile {
    background-position: -192px 0;
}
.qyzx3_item_ww_offline {
    background-position: -190px -30px;
}
.qyzx3_item_text {
    display: inline-block;
    color: #25538c;
    vertical-align: middle;
    margin: 0 0 0 2px;
    cursor: pointer;
}

.qyzx3_subAccount .qyzx3_item_text {
    display: inline-block;
    color: #25538c;
    vertical-align: middle;
    margin: 0 0 0 2px;
    cursor: pointer;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qyzx3_item_text:hover {
    text-decoration: underline;
}

.qyzx3_subAccount {
    width: 100%;
    height: 22px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -149px;
}

.qyzx3_item_card {
    display: inline;
    float: right;
    margin: 4px 4px 0 0;
    *margin: -16px 4px 0 0;
    height: 14px;
    width: 21px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -861px -332px;
}
.qyzx3_settings {
    height: 33px;
    padding: 3px 0 0 4px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -232px;
}
.qyzx3_settings_button {
    height: 30px;
    width: 146px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -620px -308px;
}
.qyzx3_minibar {
    width: 28px;
}
.qyzx3_minibar_box {
    width: 100%;
    height: 117px;
    padding: 1px 0 0 0;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -268px;
}
.qyzx3_minibar_box_arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 3px 0 0 4px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -820px -268px;
}
.qyzx3_minibar_box_arrow:hover {
    background-position: -840px -268px;
}
.qyzx3_minibar_box_text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    padding: 12px 0 0 6px;
}
.qyzx3_minibar_sdrz {
    width: 22px;
    height: 22px;
    padding: 6px 0 0 6px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -429px;
}
.qyzx3_minibar_sdrz_ico {
    width: 16px;
    height: 16px;
    background: transparent url(//cbu01.alicdn.com/cms/upload/2015/333/764/2467333_1916752660.png) no-repeat scroll -895px -285px;
}
.qyzx3_minibar_szgl {
    width: 28px;
    height: 41px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll 0 -387px;
}
.qyzx3_prompt {
    width: 152px;
    height: 187px;
    position: absolute;
    top: -194px;
    right: 0;
    padding: 1px;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -168px -268px;
}
.qyzx3_prompt_count {
    height: 32px;
    line-height: 25px;
}
.qyzx3_prompt_count_label {
    display: inline-block;
    color: #333;
    font-weight: bold;
    margin: 3px 0 0 4px;
}
.qyzx3_prompt_count_number {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: #ff7300;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.qyzx3_prompt_msg {
    height: 91px;
    padding: 1px 0 0 0;
}
.qyzx3_prompt_msg_from {
    margin: 0;
    padding: 9px 0 0 9px;
    color: #25538c;
    font-weight: bold;
}
.qyzx3_prompt_msg_text {
    margin: 0;
    padding: 3px 0 0 9px;
    color: #888;
}
.qyzx3_prompt_msg_djck {
    color: #fa7500;
    margin: 0 0 0 94px;
    cursor: pointer;
    text-decoration: underline;
}
.qyzx3_prompt_button {
    width: 72px;
    height: 26px;
    margin: 15px 0 0 40px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -476px -398px;
}
.qyzx3_prompt_button:hover {
    background-position: -548px -398px;
}
.qyzx3_prompt_close {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: transparent url(https://img.alicdn.com/tfs/TB1CfFSwaQoBKNjSZJnXXaw9VXa-924-457.png) no-repeat scroll -876px -317px;
}
.qyzx3_prompt_close:hover {
    background-position: -861px -317px;
}

.qyzx3_grey .qyzx3_sidebar_title       	     { background-position: 0 0; }
.qyzx3_grey .qyzx3_sidebar_title_arrow       { background-position: -820px -268px; }
.qyzx3_grey .qyzx3_sidebar_title_arrow:hover { background-position: -840px -268px; }
.qyzx3_grey .qyzx3_buttons_ljqt              { background-position: -322px -408px; }
.qyzx3_grey .qyzx3_buttons_ljqt:hover        { background-position: -399px -408px; }
.qyzx3_grey .qyzx3_minibar_box               { background-position: 0 -268px; }
.qyzx3_grey .qyzx3_minibar_box_arrow         { background-position: -820px -288px; }
.qyzx3_grey .qyzx3_minibar_box_arrow:hover   { background-position: -840px -288px; }
.qyzx3_grey .qyzx3_minibar_sdrz              { background-position: 0 -429px; }
.qyzx3_grey .qyzx3_minibar_szgl              { background-position: 0 -387px; }
.qyzx3_grey .qyzx3_prompt_button             { background-position: -476px -398px; }
.qyzx3_grey .qyzx3_prompt_button:hover       { background-position: -548px -398px; }
.qyzx3_grey .qyzx3_sidebar_title_sdrz        { background-position: -895px -285px; }
.qyzx3_grey .qyzx3_minibar_sdrz_ico          { background-position: -895px -285px; }

.qyzx3_blue .qyzx3_sidebar_title       	     { background-position: -154px 0; }
.qyzx3_blue .qyzx3_sidebar_title_arrow       { background-position: -620px -268px; }
.qyzx3_blue .qyzx3_sidebar_title_arrow:hover { background-position: -640px -268px; }
.qyzx3_blue .qyzx3_buttons_ljqt              { background-position: -322px -268px; }
.qyzx3_blue .qyzx3_buttons_ljqt:hover        { background-position: -322px -296px; }
.qyzx3_blue .qyzx3_minibar_box               { background-position: -28px -268px; }
.qyzx3_blue .qyzx3_minibar_box_arrow         { background-position: -620px -288px; }
.qyzx3_blue .qyzx3_minibar_box_arrow:hover   { background-position: -640px -288px; }
.qyzx3_blue .qyzx3_minibar_sdrz              { background-position: -28px -429px; }
.qyzx3_blue .qyzx3_minibar_szgl              { background-position: -28px -387px; }
.qyzx3_blue .qyzx3_prompt_button             { background-position: -476px -268px; }
.qyzx3_blue .qyzx3_prompt_button:hover       { background-position: -476px -294px; }
.qyzx3_blue .qyzx3_sidebar_title_sdrz        { background-position: -861px -269px; }
.qyzx3_blue .qyzx3_minibar_sdrz_ico          { background-position: -861px -269px; }

.qyzx3_green .qyzx3_sidebar_title       	  { background-position: -308px 0; }
.qyzx3_green .qyzx3_sidebar_title_arrow       { background-position: -660px -268px; }
.qyzx3_green .qyzx3_sidebar_title_arrow:hover { background-position: -680px -268px; }
.qyzx3_green .qyzx3_buttons_ljqt              { background-position: -322px -324px; }
.qyzx3_green .qyzx3_buttons_ljqt:hover        { background-position: -322px -352px; }
.qyzx3_green .qyzx3_minibar_box               { background-position: -56px -268px; }
.qyzx3_green .qyzx3_minibar_box_arrow         { background-position: -660px -288px; }
.qyzx3_green .qyzx3_minibar_box_arrow:hover   { background-position: -680px -288px; }
.qyzx3_green .qyzx3_minibar_sdrz              { background-position: -56px -429px; }
.qyzx3_green .qyzx3_minibar_szgl              { background-position: -56px -387px; }
.qyzx3_green .qyzx3_prompt_button             { background-position: -476px -320px; }
.qyzx3_green .qyzx3_prompt_button:hover       { background-position: -476px -346px; }
.qyzx3_green .qyzx3_sidebar_title_sdrz        { background-position: -878px -269px; }
.qyzx3_green .qyzx3_minibar_sdrz_ico          { background-position: -878px -269px; }

.qyzx3_red .qyzx3_sidebar_title       	    { background-position: -462px 0; }
.qyzx3_red .qyzx3_sidebar_title_arrow       { background-position: -700px -268px; }
.qyzx3_red .qyzx3_sidebar_title_arrow:hover { background-position: -720px -268px; }
.qyzx3_red .qyzx3_buttons_ljqt              { background-position: -399px -268px; }
.qyzx3_red .qyzx3_buttons_ljqt:hover        { background-position: -399px -296px; }
.qyzx3_red .qyzx3_minibar_box               { background-position: -84px -268px; }
.qyzx3_red .qyzx3_minibar_box_arrow         { background-position: -700px -288px; }
.qyzx3_red .qyzx3_minibar_box_arrow:hover   { background-position: -720px -288px; }
.qyzx3_red .qyzx3_minibar_sdrz              { background-position: -84px -429px; }
.qyzx3_red .qyzx3_minibar_szgl              { background-position: -84px -387px; }
.qyzx3_red .qyzx3_prompt_button             { background-position: -548px -268px; }
.qyzx3_red .qyzx3_prompt_button:hover       { background-position: -548px -294px; }
.qyzx3_red .qyzx3_sidebar_title_sdrz        { background-position: -895px -269px; }
.qyzx3_red .qyzx3_minibar_sdrz_ico          { background-position: -895px -269px; }

.qyzx3_orange .qyzx3_sidebar_title       	   { background-position: -616px 0; }
.qyzx3_orange .qyzx3_sidebar_title_arrow       { background-position: -740px -268px; }
.qyzx3_orange .qyzx3_sidebar_title_arrow:hover { background-position: -760px -268px; }
.qyzx3_orange .qyzx3_buttons_ljqt              { background-position: -399px -324px; }
.qyzx3_orange .qyzx3_buttons_ljqt:hover        { background-position: -399px -352px; }
.qyzx3_orange .qyzx3_minibar_box               { background-position: -112px -268px; }
.qyzx3_orange .qyzx3_minibar_box_arrow         { background-position: -740px -288px; }
.qyzx3_orange .qyzx3_minibar_box_arrow:hover   { background-position: -760px -288px; }
.qyzx3_orange .qyzx3_minibar_sdrz              { background-position: -112px -429px; }
.qyzx3_orange .qyzx3_minibar_szgl              { background-position: -112px -387px; }
.qyzx3_orange .qyzx3_prompt_button             { background-position: -548px -320px; }
.qyzx3_orange .qyzx3_prompt_button:hover       { background-position: -548px -346px; }
.qyzx3_orange .qyzx3_sidebar_title_sdrz        { background-position: -861px -285px; }
.qyzx3_orange .qyzx3_minibar_sdrz_ico          { background-position: -861px -285px; }

.qyzx3_black .qyzx3_sidebar_title       	   { background-position: -770px 0; }
.qyzx3_black .qyzx3_sidebar_title_arrow       { background-position: -780px -268px; }
.qyzx3_black .qyzx3_sidebar_title_arrow:hover { background-position: -800px -268px; }
.qyzx3_black .qyzx3_buttons_ljqt              { background-position: -322px -380px; }
.qyzx3_black .qyzx3_buttons_ljqt:hover        { background-position: -399px -380px; }
.qyzx3_black .qyzx3_minibar_box               { background-position: -140px -268px; }
.qyzx3_black .qyzx3_minibar_box_arrow         { background-position: -780px -288px; }
.qyzx3_black .qyzx3_minibar_box_arrow:hover   { background-position: -800px -288px; }
.qyzx3_black .qyzx3_minibar_sdrz              { background-position: -140px -429px; }
.qyzx3_black .qyzx3_minibar_szgl              { background-position: -140px -387px; }
.qyzx3_black .qyzx3_prompt_button             { background-position: -476px -372px; }
.qyzx3_black .qyzx3_prompt_button:hover       { background-position: -548px -372px; }
.qyzx3_black .qyzx3_sidebar_title_sdrz        { background-position: -878px -285px; }
.qyzx3_black .qyzx3_minibar_sdrz_ico          { background-position: -878px -285px; }

/** WebIM�ı�����
-------------------------------------------------------------------------------------------------*/
.itbu_webIM_dragdrop_bgLayer {
    overflow:hidden;
    position:absolute;
    background-color:#fff;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-user-select:none;
    z-index:10001;
    display:none;
}
.itbu_webIM_dragdrop_moveLayer {
    overflow:hidden;
    position:absolute;
    background-color:#fff;
    border:2px dashed #808080;
    opacity:0.4;
    filter:alpha(opacity=40);
    -moz-user-select:none;
    cursor:move;
    z-index:10002;
    display:none;
}


.pm-pincode-bg{
	width: 353px;
	height: 251px;
	filter: Alpha(opacity=50);
	background: #000000;
	background: rgba(0,0,0,0.5);
	color: #fff;
	cursor: pointer;
}

.pm-pincode{
	width:328px;
	height: 142px;
	background: #fff;
	border: 1px solid #e3e3e3;
	position: relative;
	top: -208px;
	left: 11px;
	font-size: 12px;
}

.pm-pincode-head{
	height: 30px;
	background-color: #f3f3f3;
	color: #444444;
}

.pm-pincode-body{
	list-style: none;
	margin: 0;
	padding: 0;

}

.pm-ph-text{
	margin-top: 5px;
	display: inline-block;
	margin-left: 12px;
}

.pm-pincode-close{
	position:relative;
	left: 306px;
	top: -14px;
	display:block;
	width: 13px;
	height:12px;
	cursor:pointer;
	background: url("//cbu01.alicdn.com/cms/upload/2014/764/160/2061467_1490276829.png") 0 0 transparent no-repeat;
	overflow: hidden;
}

.pm-pincode-body{
	height: 68px;
}

.pm-pincode-body li{
	float: left;
	margin-top: 5px;
}

.pm-pb-input{
	width: 79px;
	height: 20px;
	line-height: 20px;
}

.pm-pb-yzm{
	display: inline-block;
	margin-top: 18px;
	margin-left: 12px;
	color:#666666;
}

.pm-pb-input{
	margin-top: 15px;
	margin-left: 10px;
	border: 1px solid #c8c8c8;
}

.pm-pb-input-error{
	border: 1px solid #da7070;
}

.pm-pb-img{
	margin-top: 13px;
	width: 96px;
}

.pm-pb-update{
	color:#336699;
	margin-top: 18px;
	display: inline-block;
	cursor: pointer;
}

.pm-pincode-foot{
	width: 308px;
	border-top: 1px dotted #e3e3e3;
	margin-left: 10px;
}

.pm-pf-confirm{
	cursor:pointer;
	margin-left:260px;
	display: inline-block;
	width: 44px;
	height: 22px;
	margin-top:10px;
	margin-right:4px;
	overflow: hidden;
	background: url("//cbu01.alicdn.com/cms/upload/2014/764/160/2061467_1490276829.png") 0 -28px transparent no-repeat;
	margin-bottom: 9px;
}

.pm-pf-cancel{
	cursor:pointer;
	display: inline-block;
	width: 44px;
	height: 22px;
	margin-top:10px;
	background: url("//cbu01.alicdn.com/cms/upload/2014/764/160/2061467_1490276829.png") 0 -61px transparent no-repeat;
	margin-bottom: 9px;
}

.pm-pb-alert{
	margin-left: 10px;
	color:#e42a2a;
	margin-top: 3px;
}

.pm-pb-alert-btn{
	margin-right:4px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url("//cbu01.alicdn.com/cms/upload/2014/764/160/2061467_1490276829.png") 0 -93px transparent no-repeat;
}

.pm-pb-alert-text{
	vertical-align: 2px;
	*vertical-align: 0px;
	*margin-left: 3px;
}

.pm-pincode-warp{
	position: relative;
	top: -254px;
	z-index: 99999;
}
